<form [formGroup]="form" class="w-75 mx-auto" novalidate>
    <h3>Change Password <small class="text-muted">({{ form.status }})</small></h3>
    <div class="form-group row">
        <label for="cur-pwd" class="col-md-3 col-form-label">Current Password</label>
        <div class="col-md-9">
            <input type="password" id="cur-pwd" class="form-control" 
                [class.is-invalid]="(curPwd.touched || curPwd.dirty) && curPwd.invalid" 
                formControlName="curPwd">
            <div class="invalid-feedback">
                Current password cannot be left blank
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="new-pwd" class="col-md-3 col-form-label">New Password</label>
        <div class="col-md-9">
            <input type="password" id="new-pwd" class="form-control" 
                [class.is-invalid]="(newPwd.touched || newPwd.dirty) && newPwd.invalid" 
                formControlName="newPwd">
            <div class="invalid-feedback" *ngIf="newPwd.hasError('required') || newPwd.hasError('minlength')">
                There must be at least 8 characters
            </div>
            <div class="invalid-feedback" *ngIf="newPwd.hasError('noUpperCase')">
                There must be at least one upper-case character
            </div>
            <div class="invalid-feedback" *ngIf="newPwd.hasError('noLowerCase')">
                There must be at least one lower-case character
            </div>
            <div class="invalid-feedback" *ngIf="newPwd.hasError('noDigit')">
                There must be at least one digit
            </div>
            <div class="invalid-feedback" *ngIf="newPwd.hasError('noSpecialChar')">
                There must be at least one of the following: {{ newPwd.errors['specialChars'].join(', ') }}
            </div>
            <div class="invalid-feedback" *ngIf="newPwd.hasError('notDiff')">
                New password must not match the current password
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="confirm" class="col-md-3 col-form-label">Confirm New Password</label>
        <div class="col-md-9">
            <input type="password" id="confirm" class="form-control" 
                [class.is-invalid]="(confirm.touched || confirm.dirty) && confirm.invalid" 
                formControlName="confirm">
            <div class="invalid-feedback">
                Entered value doesn't match the new password
            </div>
        </div>
    </div>
    <!-- diagnostic dump -->
    <hr>
    <p><b>Form value</b></p>
    <pre>{{ form.value | json }}</pre>
    <!-- <p><b>Confirm's status</b></p>
    <pre>{{ confirm.status }}</pre>
    <p><b>Confirm's errors</b></p>
    <pre>{{ confirm.errors | json }}</pre> -->
</form>