<div class="container">
    <h1>Angular Demos | 
        <small><a href="https://github.com/mchaitanya/angular-demos" target="_blank">GitHub</a></small>
    </h1>
    <ul class="list-group">
        <li class="list-group-item">
            <h2><a routerLink="/demos/cross-ctrl-vldn">Cross Control Validation</a> | 
                <small><a href="https://github.com/search?q=repo:mchaitanya/angular-demos+cross-ctrl-vldn&o=asc&s=author-date&type=Commits" target="_blank">Implementation</a></small>
            </h2>
            <div>
                This example demonstrates how to create a reactive form, 
                add custom validators to a control in a reactive form, and then 
                validate one control based on the value in another.
            </div>
        </li>
        <li class="list-group-item">
            <h2><a routerLink="/demos/sticky-demo">Sticky Directive Demo</a> | 
                <small><a href="https://github.com/mchaitanya/angular-demos/pull/11" target="_blank">Implementation</a></small>
            </h2>
            <div>
                In this example, we create a directive that 'stickies' an element 
                at the top of the screen when you scroll past it. 
                It's similar to how the <code>position: sticky</code> CSS declaration works.
            </div>
        </li>
        <li class="list-group-item">
            <h2><a routerLink="/demos/reusable-modals">Reusable Modals Demo</a></h2>
            <div>
                In this example, we'll devise a way to display modals that share a common structure. 
                Any component in the app will be able to place custom content in the body of the modal template 
                and launch it.
            </div>
        </li>
    </ul>
</div>