<div class="container">
    <h1>Angular Demos</h1>
    <ul class="list-group">
        <li class="list-group-item">
            <h2><a routerLink="/demos/cross-ctrl-vldn">Cross Control Validation</a></h2>
            <div>
                This example demonstrates how to: 
                <ul>
                    <li>create a reactive form</li>
                    <li>add custom validators to a control in a reactive form</li>
                    <li>validate one control based on the value in another</li>
                </ul>
            </div>
        </li>
    </ul>
</div>